:root {
  --primary-color: #f9f7fd;
  --secondary-color: blueviolet;
}
body {
  font-family: "Work Sans", sans-serif;
}
h1 {
  font-family: "Playfair Display", serif;
  font-size: 70px;
  font-weight: 600px;
  margin-bottom: 20px;
}
h2 {
  font-family: "Playfair Display", serif;
  font-size: 30px;
  line-height: 1.5;
}
h3 {
  font-family: "Playfair Display", serif;
}
.project-image {
  width: 550px;
  margin: 0;
}
.maryam-image {
  width: 400px;
}
.introduction p {
  font-size: 35px;
}
.introduction {
  background-color: var(--primary-color);
  padding: 150px 50px;
  text-align: center;
}
.btn-branding {
  background-color: var(--secondary-color);
  color: white;
  padding: 18px 20px;
}
.btn-branding-outline {
  color: var(--secondary-color);
  border-color: var(--secondary-color);
  padding: 18px 20px;
}
.project-paragraph {
  line-height: 2;
  padding: 80px 10px;
}
.content-container {
  padding: 120px 40px;
  text-align: center;
}
.content h1 {
  font-size: 49px;
}
.content {
  padding: 40px 0;
}
.navbar-head {
  font-family: "Rock Salt", cursive;
  font-size: 25px;
  margin-right: 120px;
}
.nav-link {
  margin-left: 50px;
}
.nav-link.active {
  color: var(--secondary-color) !important;
}
.footer-box {
  background-color: var(--primary-color);
  padding: 40px 50px;
  border-radius: 10px;
}
.email-link a {
  text-decoration: none;
  color: black;
}
.social-link a {
  margin: 30px;
  font-size: 30px;
  color: var(--secondary-color);
}
.source-code {
  color: var(--secondary-color);
  text-decoration: none;
}
.source-code:hover {
  text-decoration: underline;
}
.icons {
  color: var(--secondary-color);
  margin-left: 15px;
}
@media (max-width: 990px) {
  h1 {
    font-size: 38px;
    margin-bottom: 20px;
  }
  h2 {
    font-size: 17px;
  }
  .introduction p {
    font-size: 20px;
  }
  .introduction {
    padding: 30px 30px;
  }
  .btn-branding,
  .btn-branding-outline {
    padding: 10px 17px;
  }
  .btn-branding-outline {
    margin-top: -20px;
    margin-bottom: 40px;
  }
  .project-paragraph {
    text-align: center;
    padding: 0 30px;
    border-bottom: 1px solid black;
  }
  .last-item {
    border-bottom: none;
  }
  .project-titles {
    margin-top: -25px;
    margin-bottom: 15px;
    font-size: 25px;
  }
  .content-container {
    padding: 10px 30px;
  }
  .content h1 {
    font-size: 38px;
  }
  .footer-box {
    padding: 40px 20px;
  }
  .email-link a {
    font-size: 14px;
  }
}
